 <div class="widgets">
                      <div>Total members     <br> <span> 15504 </span> <br> <i class="fa fa-2x fa-user" aria-hidden="true"></i> </div>
                      <div>Pending members   <br> <span> 21 </span> <br> <i class="fa fa-2x fa-user-o" aria-hidden="true"></i> </div>
                      <div>Total items       <br> <span> 1145852 </span> <br> <i class="fa fa-2x fa-tag" aria-hidden="true"></i> </div>
                      <div>Total comments    <br> <span> 1145852  </span> <br> <i class="fa fa-2x fa-comment" aria-hidden="true"></i>  </div>
                    </div>